:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #a09a9a;
  background-image: url('/src/images/WhatsApp\ Image\ 2025-05-13\ at\ 3.43.07\ PM.jpeg');
  background-size: 100% 200%; 
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  align-items: center;     
  width: 100dvw;
  height: 100dvh;
}

